<!--Modal para personaje-->
<div class="modal fade" role="dialog" id="myModal2">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="box36">
    </div>
    <div id="box32">
   </div>
    <div class="contenedorCha" >
      <div id="box31">
         <h4 id="cafe" class="hero"> <titulo id="nameCharacter"></titulo></h4>
         <texto id="descriptionCharacter"></texto>
         <hr>
         <div class="contenedorItem style-2">
              <div class="item" id="comics">
              </div>
              <div class="item" id="series">
              </div>
              <div class="item" id="stories">
              </div>
              <div class="item" id="events">
              </div>
        </div>
        <Br>
        <div  align="right"><texto id="comic"></texto><Br></div>
       </div>
    </div>
    <div id="contButton">
        <div id="box34">
          <img src="../assets/img/icons/favourites.png"><a  data-dismiss="modal" href="#"> Volver</a>
       </div>
        <div id="box33">
       </div>
    </div>
  </div>
</div>
