body {
	background:#F4F4F4;
}

.gris{
	background-color:#EBEBEB;
}

.favorites{
	height: 2000px;
	overflow: auto;
}

.BGBlanco{
   background-color:#ffffff;
	 margin: 20px;
	 width: 420px;
	 padding: 0px;
	 padding-bottom: 5px;
	 height: 400px;
  justify-content: center;
  align-items: center;
}
/* Colores y padding del hearder y footer*/
header{
    background:#2D2727;
}

footer{
    background:#2D2727;
}
.pad, header, footer div  {
	padding: 20px 30px 20px;
}
header div div div{
   padding-top: 10px;
}

/*Colores de Texto*/
#blanco{
  color: #ffffff;
}
#cafe{
  color: #2D2727;
}
#gris{
  color: #7B7170;
}

/*Tipo de letra*/
.alignRight{
	text-align: right;
	padding: 10px
}

div.modalComic {
	float:left;
	margin:0px 10px 0px 10px
}

p Font{
  font-weight: bold;
  font-size:x-large;
  margin-left: 1em;
}
p.comic{
  font-weight: bold;
  font-size:small;
  margin-top: 1em;
}

h4.hero{
  text-transform: uppercase;
  font-weight: bold;
}
h4.related-comic{
  font-weight: bold;
}

.desc-hero{
  font-size:85%;
	color: #2D2727;
	text-align: justify;
}

/*Botones sobre imagen*/

.image_wrapper {
    position:relative;
    width:160px;
    float:center;
}

.image_wrapper .image {
    border:1px solid #ccc;
    width:150px;
    height:200px;
}

.image_wrapper .remove {
    position:absolute;
    top:0px;
    opacity:0;
    transition:opacity 0.5s linear;
    -webkit-transition:opacity 0.5s linear;
    cursor:pointer;
    border:0px;
    width:32px;
    height:32px;
}

.image_wrapper:hover .remove {
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    opacity: 0.9;
}

.image_wrapper .remove {
    right:0px;
}


/*Modal Comic*/
.contenedor{
	 background-color: #ffffff;
	 width: 800px;
	 height: 450px;
}
#box11{
	float:left;
    width:200px;
		text-align:center;
		padding-left: 80px;
		padding-top: 20px;
}
#box12{
	  float:left;
		padding-left: 170px;
		padding-top: 20px;
    width:500px;
		font-size:100%;
		color: #2D2727;
		text-align: justify;
}

#box21{
    float:left;
    width:400px;
		height: 80px;
		background-color: #322827;
		text-align: center;
		padding: 20px
}
#box22{
    float:left;
    width:400px;
		height: 80px;
		background-color: #F0F0F0;
		text-align: center;
		padding: 20px
}
#box23{
    float:left;
    width:400px;
		height: 80px;
		background-color:#DCDCDC;
		text-align:center;
		padding: 20px
}

#box24{
	width:800px;
}
/*Modal Personaje*/
.contenedorCha{
	 background-color: #ffffff;
	 background-size: 100%;
	 opacity: 50%;
	 border:30px;
	 width: 900px;
	 height: 550px;
	 padding: 50px;
}

#box31{
		position:absolute;
    width:700px;
		font-size:120%;
		color: #2D2727;
		text-align:justify;
		padding-top: 20PX;
		z-index: 3
}

titulo{
	color: #ED1D24;
	font-weight: bold;
	font-size: 120%;
}
texto{
	color: #2D2727;
	font-weight: bold;
	font-size: 100%;
}
#box32{
	position: relative;
		float:left;
    width:900px;
		text-align:center;
		 z-index: 1
}

.item {
	position: relative;
	margin-bottom:  1em;
	z-index: 4
}

#box33{
    float:left;
    width:450px;
		height: 80px;
		background-color: #F0F0F0;
		align: center;
		padding: 10px;
}

#box34{
    float:left;
    width:450px;
		height: 80px;
		background-color: #322827;
		text-align: center;
		padding: 30px;
}

a{
	color: #ED1D24;
	font-weight: bold;
	font-size: 120%;
}

a.cafe{
	color: #2D2727;
	font-weight: bold;
	font-size: 120%;
}


a.modalComic{
	color: #2D2727;
	font-size:80%;
}

a.modalComic:hover {
	color: #ED1D24;
	visibility: visible;
}

a.modalComic  img {display: none;}
a.modalComic:hover img {
    display: block;
		position: absolute;
}
a.modalComic:hover  p {
	padding-left: 2em;
}


/**/
img.fondo {
	  width:900px;
    height: 550px;
		opacity: 0.4;
}

hr{
	 border-top: 3px solid #ED1D24;
   border-bottom: 2px dashed #322827;
   height: 6px;
}

#box36{
	 position: absolute;
	 z-index: 2;
	 right: -40px;
	 top: -35px;
	 width:200px;
	 padding: 10px;
}


#contButton{
	 position: absolute;
		width:900px;
}

.contenedorItem
{
	margin-left: 30px;
	height: 200px;
	overflow: auto;
}
/**Estilo de scroll 1*/
.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	border-radius: 10px;
}

.style-1::-webkit-scrollbar
{
	width: 8px;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #322827;
}



/*Estilo de scroll 2*/
.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.style-2::-webkit-scrollbar
{
	width: 12px;
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ED1D24;
}



/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

.light-theme a, .light-theme span {
	float: left;
	font-size:20px;
	min-width: 14px;
	margin: 0 5px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
